---
import type { Note } from "../types/types";

interface Props {
  notes: Note[];
}

const { notes } = Astro.props;
---

<div class="text-center text-sm space-y-1">
  {notes.map((note) => (
    <div class="flex flex-row justify-center gap-1" key={note.symbol}>
      <sup>{note.symbol}</sup>
      <span>{note.text}</span>
    </div>
  ))}
</div>
