---
// TODO: when the page is narrow enough, figures with images don't have any horizontal padding
---

<div class="grid w-full gap-6 md:grid-cols-2 md:items-start">
  <div class="min-w-[16rem]">
    <slot name="left" />
  </div>
  <div class="min-w-[16rem]">
    <slot name="right" />
  </div>
</div>
